body {
  margin: 0;
  background-color: #0c3756;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #f0fcf3;
}

.tweets-container {
  background-color: #292f33;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;

  .tweets-footer,
  .tweets-header {
    align-self: flex-end;
  }

  .tweets-header .profile-link {
    cursor: pointer;

    &:hover, &:active {
      opacity: 0.7;
    }
  }

  .tweets-graph {
    display: grid;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    grid-template-columns: repeat(24, 25px);
    grid-template-rows: repeat(8, 25px);
    margin: 10px 0;

    &-item {
      border-radius: 2px;
      height: 100%;
      text-align: center;
      width: 100%;

      &.none {
        border: 1px solid #a0aca0;
        box-sizing: border-box;
      }

      &.light {
        background-color: rgba(29, 161, 242, 0.35);
      }

      &.medium {
        background-color: rgba(29, 161, 242, 0.65);
      }

      &.full {
        background-color: rgba(29, 161, 242, 1);
      }
    }
  }
}
