.container {
  background-color: #3a5e78;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
  flex-direction: column;
}

.logo__container {
  display: flex;
  align-items: center;
}

.logo {
  display: grid;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-columns: repeat(2, 15px);
  grid-template-rows: repeat(2, 15px);
  margin: 0 10px;
}

.logo__title {
  color: white;
  font-size: 1.3rem;
}

.header {
  text-align: center;
}

.heading {
  font-size: 6rem;
  margin: 0;
}

.subheading {
  font-size: 1.3rem;
  margin: 0;
  margin-top: -1rem;
}

.footer {
  margin-bottom: 1rem;
  color: white;
}

.footer__link {
  color: rgba(29, 161, 242, 1);
}

.footer__link:hover,
.footer__link:active {
  text-decoration: underline;
}
