.input__text {
  font-size: 3rem;
}

.input {
  background: none;
  border: none;
  border-bottom: 3px solid #08a0e9;
  border-radius: 2px;
  color: #08a0e9;
  font-size: 3rem;
  outline: none;
  text-align: center;
}

.highlighted {
  color: #08a0e9;
}

@media (max-width: 900px) {
  .input__text {
    font-size: 1rem;
  }

  .input {
    font-size: 1rem;
    border-width: 1px;
  }
}
